<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="form_fields">

    <input type="hidden" th:field="*{id}" id="id">

    <label for="login">Логин: </label>
    <input type="text" th:field="*{login}" id="login">
    <br><br/>
    <label for="password">Пароль: </label>
    <input type="text" th:field="*{password}" id="password">
    <br><br/>
    <div>Статус: <td th:text="*{getRoleValues()}"></td></div>
    <br>
    <p>
        <label>Изменить статус:
            <input  type="checkbox" name="roles_id"
                   th:each="role : ${allRoles}"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:checked="${user.getRoles().contains(role)}"
            />
        </label>
    </p>
    <input type="submit" value="Сохранить">
</div>
</body>